# Frontend
client/node_modules/
client/dist/
client/dist-ssr/
client/*.local

# Backend
server/__pycache__/
server/*.pyc
server/.env
server/media/uploads/
server/db.sqlite3
server/.venv/

# Editor / System directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
